#header {
    margin-bottom: 10px;
}

.form-check-inline {
    margin-top: 30px;
}

body {
    font-size: 15spx;
    color: white;
}

#quote {
    background-color: #186411;
    /* margin: 0; */
    /* padding: 0; */
}

.card-header {
    text-align: center;
    color:  #186411;
    font-size: 42px;
}

.fix_margin {
    margin-top: 30px;
}

/* .another_fix {
    margin-top: 150%;
} */

#total {
    margin-top: 50px;
}

#estimate_fix {
    margin-top: 50px;
}

#submit {
    margin-top: 50px;
}

